{% extends 'base.html' %}
{% block body %}
        <form class="form-login" method="post" action="{% url 'login:login' %}">
        {% csrf_token %}
            <div class="form-log-in-with-email">

                <div class="form-white-background">

                    <div class="form-title-row">
                        <h1>Log in</h1>
                    </div>

                    <div class="form-row">
                        <label>
                            <span>Username</span>
                            <input type="text" name="username" required>
                        </label>
                    </div>

                    <div class="form-row">
                        <label>
                            <span>Password</span>
                            <input type="password" name="password" required>
                        </label>
                    </div>

                    <div class="form-row">
                        <button type="submit">Log in</button>
                    </div>
                </div>
                <a href="{% url 'login:sign' %}" class="form-create-an-account">Create an account &rarr;</a>
                <a href="{% url 'social:begin' 'github' %}" class="form-create-an-account" style="margin-bottom: 50px">Login with GitHub</a><br>
                <br>
                <a href="{% url 'social:begin' 'facebook' %}" class="form-create-an-account" style="margin-bottom: 50px">Login with Facebook</a>
                {% if message %}
                    <h1 class="fa-bold">{{ message }}</h1>
                {% endif %}
            </div>
        </form>
{% endblock %}
{% block title %}
    Sign Up
{% endblock %}